<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @part.reference %>
</p>

<p>
  <strong>Type designation:</strong>
  <%= @part.type_designation %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
